<!DOCTYPE html>
<html>
  <%- include('./partials/head'); %>
  <body>
    <div class="site_header">
      <h1>MemaGen.com</h1>
    </div>
    <div class="page">
      <div class="options">
        <div class="media_uploader">
          <input type="file" placeholder="Upload your sample">
        </div>
      </div>
    </div>


  </body>
</html>
