<!DOCTYPE html>
<html>
  <%- include('./partials/head'); %>

  <body>
    <div class="site_header">
      <h1>MemaGen.com</h1>
    </div>
    <div class="page">

      <div class="media_content" id="media">
        <canvas id="media-source"></canvas>
      </div>

      <div class="options">
        <div class="media_uploader option">
          <input id="file" type="file" accept="image/*">
        </div>

        <div class="upper-text option">
          <input id="upper-text" type="text" placeholder="Upper text">
        </div>

        <div class="lower-text option">
          <input id="lower-text" type="text" placeholder="Lower text">
        </div>

        <div class="submit option">
          <input type="submit">
        </div>
      </div>
    </div>
    <script src="/javascripts/index.js"></script>
  </body>

</html>
