<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="site_header">
        <H1>That is a mEmA site</H1>
    </div>
    <div class="content_block">
        <div class="content">
            <img src="https://im0-tub-ru.yandex.net/i?id=f856591e42972ebd4f62b52d9901200f&n=13">
        </div>
        <div class="content">
            <img src="https://im0-tub-ru.yandex.net/i?id=f856591e42972ebd4f62b52d9901200f&n=13">
        </div><
        <div class="content">
            <img src="https://im0-tub-ru.yandex.net/i?id=f856591e42972ebd4f62b52d9901200f&n=13">
        </div>
    </div>
</body>
</html>