body {
    background: whitesmoke;
}

.site_header {
    text-align: center;
    height: 50px;
    font-family: sans-serif;
}

.content_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    margin: 10px 10px;
}

.content > img {

    height: 300px;
    width: 300px;
}