body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: whitesmoke;
}

a {
  color: #00B7FF;
}

.site_header {
  text-align: center;
  height: 50px;
  font-family: sans-serif;
}

.page {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
  height: 85vh;
}

.media_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 4;
  background: aqua;
  margin: 15px;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: red;
  flex-grow: 10;
  margin: 15px;
  min-width: 40vw;

}

canvas {
  max-width: 64vw;
  max-height: 36vw;
  background: blue;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 15px;
  margin-bottom: 15px;
  background: saddlebrown;
  width: 20vw;
  height: 5vw;
  min-width: 10vw;
}

input[type=text] {
  background-color: #bcbcbc;
  color: white;
  width: 15vw;
  height: 2vw;
}