body {
  font: 20px sans-serif;
  background: white;
  margin: 0;
}

a {
  color: #00B7FF;
}
.site_header {
  display: flex;
  width: 100vw;
  height: 10vh;
  background: #ffffff;
}

.header-logo {
  height: 10vh;
}


.site_header label {
  margin: auto auto;
}

.holder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 85vh;
  background: #ffffff;
}

.page {
  position: relative;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;

}

.media_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: #bcbcbc;
  margin: 15px;
  border-radius: 25px;
}

canvas {
  display: flex;
  max-width: 80vw;
  max-height: 80vh;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  margin: 15px;
  border-radius: 25px;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10vw;
  min-height: 8vh;
  margin: 1vh 1.5vw;
  color: white;
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.upload-image{
  width: 1.1em;
  height: 1.1em;
  margin: 1vw 1vh;
}

.file-input + label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #ffffff;
  background: #28292b;
  min-width: 40vw;
  min-height: 10vh;
  margin: 15px;
  border-radius: 25px;
}

.file-input + label {
  cursor: pointer;
}

.text-options-extended {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  margin: 15px;
  border-radius: 25px;
  background: #28292b;
}

.text-value {
  width: 30vw;
  height: 10vh;
  min-width: 10vw;
  min-height: 8vh;
  position: relative;
  overflow: hidden;
}

.text-value input {
  width: 30vw;
  border: none;
  outline: none;
  border-bottom: 1px solid #999;
  background: #28292b;
  color: white;
}


.text-options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.text-size {
  flex-grow: 2;
}

.text-color {
  flex-grow: 1;
}

.text-stroke {
  flex-grow: 2;
}



.download-button button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 10vh;
  font-weight: 700;
  color: #ffffff;
  background: #28292b;
  min-width: 20vw;
  min-height: 10vh;
  margin: 15px;
  border-radius: 25px;
}
