body {
    background: whitesmoke;
}

.site_header {
    text-align: center;
    height: 50px;
    font-family: sans-serif;
}

.content_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    margin: 30px 20px;
}

.content > img {
    height: 300px;
    width: 300px;
}